.background {
    background: url("../image/background.jpg") darkslateblue no-repeat;
    background-size: 100%;
}

.page {
    margin: 7% auto;
    width: 40%;
    height: 400px;
    background-color: #152335;
    border-radius: 20px;
    display: block;
}

.product {
    width: 50%;
    height: 100%;
    padding: 2%;
    display: inline-block;
}

.product__logo {
    width: 60px;
    height: 50px;
    position: absolute;
}
.product__item {
    width: 100%;
    height: 160px;
    margin: 80px 0 40px 0;

}

.product__colors {
    margin-left: 40%;
}

.content {
    width: 40%;
    float: right;
    font-family: Verdana, sans-serif;
    color: white;
    letter-spacing: 1px;
}

.content__title {
    font-size: 25px;
    opacity: 0.8;

}

.content__subtitle {
    font-size: 20px;
    opacity: 0.4;
    text-transform: capitalize;
}

.rating {
    color: black;
}

.rating__star_checked {
    color: orange;
}

.choice__size, .choice__quantity {
    margin-top: 20px;
    width: 30%;
    background-color: transparent;
    font-size: 15px;
    padding: 2px;
    color: white;
    opacity: 0.5;
    letter-spacing: 1px;
}

.choice__submit {
    margin-top: 20px;
    width: 85%;
    background: #2a3545;
    padding: 5px;
    font-size: 20px;
    color: white;
    opacity: 0.5;
}

.choice__variant {
    color: black;
}